anyio==3.6.2
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.8
attrs==22.1.0
backcall==0.2.0
basketball-reference-web-scraper==4.12.1
beautifulsoup4==4.11.1
bleach==5.0.1
certifi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_0ek9yztvu3/croot/certifi_1665076692562/work/certifi
cffi==1.15.1
cfgv==3.3.1
chardet==3.0.4
charset-normalizer==2.1.1
chime==0.5.3
click==8.1.3
contourpy==1.0.5
cycler==0.11.0
dash==2.7.0
dash-bootstrap-components==1.2.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-iconify==0.1.2
dash-mantine-components==0.10.2
dash-table==5.0.0
dash-tools==1.11.1
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.6
docopt==0.6.2
entrypoints==0.4
espn-api==0.25.0
executing==1.1.1
fastjsonschema==2.16.2
filelock==3.12.2
Flask==2.2.2
fonttools==4.38.0
gunicorn==20.1.0
identify==2.5.24
idna==2.8
iniconfig==2.0.0
ipykernel==6.16.2
ipython==8.5.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.16.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-server==1.21.0
jupyter_client==7.4.4
jupyter_core==4.11.2
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
kiwisolver==1.4.4
lxml==4.9.1
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
mistune==2.0.4
mysql-connector-python==8.0.31
nbclassic==0.4.5
nbclient==0.7.0
nbconvert==7.2.2
nbformat==5.7.0
nest-asyncio==1.5.6
nodeenv==1.8.0
notebook==6.5.1
notebook_shim==0.2.0
numpy==1.23.4
packaging==21.0
pandas==1.5.1
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
pipdeptree==2.12.0
pipreqs==0.4.11
platformdirs==3.8.1
plotly==5.11.0
pluggy==1.2.0
pre-commit==2.16.0
prometheus-client==0.15.0
prompt-toolkit==3.0.31
protobuf==3.20.1
psutil==5.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pycparser==2.21
Pygments==2.13.0
pyparsing==3.0.9
pyrsistent==0.18.1
pytest==6.2.5
python-dateutil==2.8.2
pytz==2022.6
PyYAML==6.0
pyzmq==24.0.1
qtconsole==5.3.2
QtPy==2.2.1
requests==2.20.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
scikit-learn==1.1.3
scipy==1.9.3
seaborn==0.12.1
Send2Trash==1.8.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.3.2.post1
stack-data==0.5.1
statsmodels==0.13.5
subprocess.run==0.0.8
tenacity==8.1.0
termcolor==1.1.0
terminado==0.17.0
threadpoolctl==3.1.0
tinycss2==1.2.1
toml==0.10.2
tornado==6.2
traitlets==5.5.0
Unidecode==1.3.6
urllib3==1.24.3
virtualenv==20.23.1
visdcc==0.0.50
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.1
Werkzeug==2.2.2
widgetsnbextension==4.0.3
yarg==0.1.9
yolk3k==0.9
